.site-header {
  padding: 0;
  font-family: $font__sans;
  color: $color__header-2;
  //background-color: $color__test-3;

  //@media screen and (min-width: $query__small) {
  //  padding: 1em 0 0 0;
  //}
  //@media screen and (min-width: $query__medium) {
  //  padding: 2em 0 0 0;
  //}
  //@media screen and (min-width: $query__large) {
  //  padding: 4em 0 0 0;
  //}
}

.site-branding {
  text-align: center;
  min-height: $size__header-min;

}

.site-title {
  color: $color__header-1;
  margin: 0;

  a {
    text-decoration: none;

    &:hover,
    &focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
  padding: 1em;
  font-size: .7em;
}

.header-image {
  padding: 0;
  margin: 0;

  img {
    display: block;
  }
}
